<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
	<appSettings>
		<add key="TotalSpaces" value="3"/>
		<add key="NumOrderWorkers" value="1"/>
		<add key="NumFillProcessorWorkers" value="10"/>
		<add key="PrimaryOrders" value="166667"/>
		<add key="BackupOrders" value="150"/>
		<add key="BaseRcordID" value="0"/>
  </appSettings>
  <ProcessingUnit>
    <EmbeddedSpaces>
      <add Name="dataExampleSpace">
	   </add>
    </EmbeddedSpaces>
  </ProcessingUnit>
</configuration>